@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ef4444;
  --color-secondary: #3b82f6;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #3b82f6;
  --color-secondary: #a855f7;
}

.btn-primary {
  @apply bg-gradient-to-r from-[#ef4444] dark:from-[#3b82f6] to-[#fca5a5] dark:to-[#93c5fd] text-white font-bold rounded-sm text-center border-none;
}
.btn-secondary {
  @apply bg-gradient-to-r from-[#3b82f6]  to-[#93c5fd] text-white font-bold rounded-sm border-none;
}

.btn-primary:hover {
  @apply opacity-80;
}
.btn-secondary:hover {
  @apply opacity-80;
}
